<h1 align="center"><%= "Category: " + @category.name %></h1>

<!--Pagination-->
<div align="center">
  <%= will_paginate @category_articles %>
</div>

<!--View The articles that asscociate with the category-->
<%= render 'articles/article' , obj: @category_articles %>

<!--Pagination-->
<div align="center">
  <%= will_paginate @category_articles %>
</div>
