<div class="container">
  <footer class="footer">
    <small>
        Copyright &copy; <a href="https://fakhrupi1.ddns.net"> The Best Designer Ever Yo!! </a>
        by <a href="https://fakhrupi1.ddns.net">Fakhrur Razi</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>
